/node_modules

# ignore npm log files
*.log

# compiled
/build
/dist
/testbed/testbed.js
*.map

# macos
.DS_Store

/simulator.js
/simulator.js.map

# mongo testing
/mongo

*.csv

*.css

# for maxes tsc check task
yarn.lock

!/node_modules/fabric/dist/fabric.js
!/node_modules/fabric/dist/fabric.require.js