/node_modules

# ignore npm log files
*.log

# compiled
/dist/**/*.js
/testbed/**/*.js
*.map

# visual studio code settings
/.vscode

# macos
.DS_Store

/simulator.js
/simulator.js.map

*.csv

# for maxes tsc check task
/src/**/*.js
