@redBorder: 1px solid rgba(255, 0, 0, 0.55);
// @import 
@font-face {
   font-family: 'Concert One';
   src: url('https://fonts.googleapis.com/css?family=Reenie+Beanie');
 }
 @font-face {
   font-family: 'Concert One';
   src: url(~'./fonts/ConcertOne-Regular.ttf');
}

 @font-face {
   font-family: 'LemonMilk';
   src: url(~'./fonts/LemonMilk.otf');
}

 @font-face {
   font-family: 'LemonMilklight';
   src: url(~'./fonts/LemonMilklight.otf');
}

#bitFighter {
  width: 100%;
  height: 100%;
  position: relative;
}

#fight {
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: row;
  .combatant {
    height: 100%;
    img {
      height: 100%;
    }
  }
}

#choiceCards {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .characterCard:not(.not_selectable) {
    cursor: pointer;
  }
}

.characterCard {
  animation: .5s dropInFade both;
  width: 20%;
  margin:0 .5vh 1vh .5vh;
  display: inline-block;
  height: 60%;
  font-family: 'Press Start 2P';
  border: 2px solid #000;
  box-sizing: border-box;  
  position: relative;
  pointer-events: all;
  overflow: hidden;

  h3 {
    text-align:center;
    padding:5px 0;
    color: white;
    font-size: 2vh;
    margin-top: 0;
    margin-bottom: 2%;
    .common{
      background-color: white;
      color: black;
    }
    .uncommon{
      background-color: grey;
    }
    .rare{
      background-color: blue;
    }
    .mythic{
      background-color: orange;
    }
    .graveDigger{
      background-color: green;
    }
    .bitBoss{
      background-color: purple;
    }
  }


  .inner{
    width:100%;
    height:100%;
    background: #e6e6e6;
    position:relative;
  }
  &.cheerMote .inner {
    background: gold;
  }
}
